<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nemo.tuktalk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.nemo.tuktalk.TuktalkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tuktalk_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tuktalk_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tuktalk"
        android:usesCleartextTraffic="true">
        <activity android:name="com.nemo.tuktalk.presentation.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nemo.tuktalk.presentation.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.nemo.tuktalk.presentation.login.LoginActivity"

            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.guide.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.signup.SelectRoleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.signup.SelectCategoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.signup.info.InfoRegistActivity"

            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.signup.complete.SignUpCompleteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.Test2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentor.mentorRegist.MentorRegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentor.mentorProfile.MentorProfileActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.nemo.tuktalk.presentation.home.viewAll.ViewAllByTaskActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.home.viewAll.ViewAllMenteeReviewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentor.mentorInfo.MentorInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentor.mentorService.MentorServiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentor.mentorService.registPortfolio.RegistPortfolioActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentee.menteeProfile.MenteeProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentee.recentPortfolio.MenteeRecentPortfolioActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentee.wishlist.MenteeWishListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.nemo.tuktalk.presentation.signup.info.terms.TermsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.nemo.tuktalk.presentation.mypage.mentor.mentorInfo.tab.portfolio.PortfolioOpenActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.nemo.tuktalk.presentation.mypage.account.AccountOptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.account.basicinfo.ActivityUserBasicInfo"
            android:screenOrientation="portrait"/>
        <activity android:name="com.nemo.tuktalk.presentation.mypage.account.withdrawal.ActivityWithdrawal"
            android:screenOrientation="portrait"/>

    </application>

</manifest>